-# vim: sw=2
!!! 5
%html
  %head
    :css
      body {
        font-family: helvetica, arial, sans-serif;
      }

      div.printer {
        background-repeat: no-repeat;
        background-position: left top;
        padding: 5px 18px 0px 0px;
        background-image: url(#{ url("/static/printer.svg") });
      }
      div.file {
        background-repeat: no-repeat;
        background-position: left top;
        padding: 5px 18px 0px 0px;
        margin:0px;
        background-image: url(#{ url("/static/unknown.svg") });
      }
      div.dir {
        background-repeat: no-repeat;
        background-position: left top;
        padding: 5px 18px 0px 0px;
        margin:0px;
        background-image:url(#{ url("/static/folder.svg") });
      }
      div.pipe {
        background-repeat: no-repeat;
        background-position: left top;
        padding: 5px 18px 0px 0px;
        margin:0px;
        background-image:url(#{ url("/static/pipe.svg") });
      }
      div.share {
        background-repeat: no-repeat;
        background-position: left top;
        padding: 5px 18px 0px 0px;
        margin:0px;
        background-image:url(#{ url("/static/share.svg") });
      }

      td { padding-left: 3px; padding-right: 3px; }

      .flash {
        margin: 3px;
        display: block;
      }
      .flash.message {
        padding: 3px;
        display: block;
        color: blue;
      }
      .flash.error {
        padding: 3px;
        display: block;
        background-color: red;
        color: yellow;
      }

      nav {
        display: block;
      }
      nav li {
        display: inline;
        padding: 5px;
      }
  %body= yield
